.favorites-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1.5rem 3rem;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  border: 1px solid #565769;
  border-radius: 0.5rem;
  padding: 0.3rem;
  text-decoration: none;
  color: #e5e7fe;
}

.favorite-card:hover {
  color: #e5e7fe;
}

.favorite-card img {
  width: 100%;
  border-radius: 0.25rem;
}

.favorite-card h4 {
  margin: 0.3rem 0 0;
  text-align: center;
  width: 100%;
}

.favorite-card h4:first-of-type {
  margin-top: auto;
  border-top: 1px solid #3a3a45;
  padding-top: 0.25rem;
}

.favorite-card h4:last-child {
  border-top: 1px solid #3a3a45;
  padding-top: 0.25rem;
}
