.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 30px 0 30px;
  background-color: #2e2d33;
}

input {
  border: #565769 solid 1px;
  border-radius: 4px;
  background-color: #353553;
}

input:hover {
  border-color: #868cff;
}

.input-left {
  display: inline-flex;
  flex-flow: column;
}

.input-right {
  margin-left: 8px;
  margin-top: 10px;
  width: 70px;
  display: inline-flex;
}

.search-div {
  display: inline;
}

.input-info {
  margin-right: 8px;
}

.button {
  padding: auto;
}
